<div class="list-container">
    @if (filterStore.region() === -1) {
        <app-subregion-list></app-subregion-list>
        <!-- <div class="empty-list">
            <mat-icon class="empty-icon" fontIcon="search"></mat-icon>
            <h3 class="empty-title">Select a region to begin</h3>
        </div> -->
    } @else if (listStore.places().size === 0) {
        <div class="empty-list">
            <mat-icon class="empty-icon" fontIcon="search_off"></mat-icon>
            <h3 class="empty-title">No places found, try again!</h3>
        </div>
    } @else {
        <h1>yeah boi</h1>
    }
</div>
