<div class="list-container">
    @if (recsService.isloadingPlaces()) {
        <div class="empty-list">
            <mat-spinner></mat-spinner>
        </div>
    } @else if (filterStore.region() === -1) {
        <div class="empty-list">
            <mat-icon class="empty-icon" fontIcon="search"></mat-icon>
            <h3 class="empty-title">No region selected</h3>
        </div>
    } @else if (listStore.isListEmpty()) {
        <div class="empty-list">
            <mat-icon class="empty-icon" fontIcon="search_off"></mat-icon>
            <h3 class="empty-title">No places found, try again!</h3>
        </div>
    } @else {
        @for (subregionMap of listStore.places(); track subregionMap[0]) {
            @if (subregionMap[1].length > 0) {
                <app-subregion-list
                    [@fade]
                    [subregionName]="subregionMap[0]"
                    [places]="subregionMap[1]"
                ></app-subregion-list>
            }
        }
    }
</div>
