@if (screenSize() === CUSTOM_BREAKPOINTS.SMALL) {
  <button [@fade] mat-fab class="menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
}

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav [opened]="screenSize() === CUSTOM_BREAKPOINTS.LARGE" [mode]="screenSize() === CUSTOM_BREAKPOINTS.LARGE ? 'side' : 'over'">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-rec-list [ngClass]="{ 'centered': screenSize() === CUSTOM_BREAKPOINTS.SMALL}"></app-rec-list>
  </mat-sidenav-content>
</mat-sidenav-container>
