<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav [opened]="recsService.screenSize() === CUSTOM_BREAKPOINTS.LARGE" [mode]="recsService.screenSize() === CUSTOM_BREAKPOINTS.LARGE ? 'side' : 'over'">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-rec-list [ngClass]="{ 'centered': recsService.screenSize() === CUSTOM_BREAKPOINTS.SMALL}"></app-rec-list>
  </mat-sidenav-content>
</mat-sidenav-container>

@if (recsService.screenSize() === CUSTOM_BREAKPOINTS.SMALL) {
  <div class="drawer">
    <mat-form-field subscriptSizing="dynamic" [ngClass]="{ 'no-selection' : filterStore.region() === -1 }" class="form-container-region-selector" appearance="outline">
        <mat-label>Region</mat-label>
        <mat-select [value]="filterStore.region()" (selectionChange)="recsService.onRegionSelectionChange($event)">
            @for (region of listStore.regions(); track region.id) {
                <mat-option [value]="region.id">{{region.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <button [@fade] [disabled]="filterStore.region() === -1" mat-fab class="drawer-button" (click)="recsService.toggleSidenav()">
      <mat-icon>filter_alt</mat-icon>
    </button>
  </div>
}
