@use "../app-theme.scss" as theme;

.drawer {
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    top: -206px;
    padding: 1rem;
    width: 100%;
    background-color: #333336;
    z-index: 2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 1rem;
    transition: 250ms;
}

.drawer__field {
    flex-grow: 1;
}

.drawer--opened {
    top: 0;
}

.drawer__main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.drawer__slide-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.drawer__bar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.drawer__menu-btn {
    border-radius: 4px;
}

.drawer__icon {
    transform: scale(1.5);
}

.app-container {
    height: 100%;
    z-index: unset;
}

.app__sidebar-container,
.app__content {
    background-color: #202124;
}

.app__sidebar-container {
    width: 18rem;
    border: none;
    padding: 3rem 1rem 0 1rem;

    @media (max-width: theme.$app-breakpoint-small) {
        width: fit-content;
    }
}

.app__sidebar {
    margin-top: 3rem;
}

.app__list {
    display: block;
    margin-top: 3rem;
    margin-inline: 1rem;
}

.app__list--centered {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem !important;
}
