@use '../app-theme.scss' as theme;

.drawer {
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    top: -208px;
    padding: 1rem;
    width: 100%;
    background-color: #333336;
    z-index: 2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 1rem;
    transition: 250ms;

    & mat-form-field {
        flex-grow: 1;
    }

    &-main {
        width: 100%;
        display: flex;
        flex-direction: column;

        & .slide-toggle {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
    }
    
    &-bar {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1rem;

        &-button {
            border-radius: 4px;

            & mat-icon {
                transform: scale(1.5);
            }
        }
    }

    &.opened {
       top: 0; 
    }
}

.app-container {
    --sideabar-width: 18rem;

    height: 100%;
    z-index: unset;

    & * {
        background-color: #202124;
    }

    & .mat-drawer-backdrop {
        background-color: red;
    }

    & mat-sidenav {
        width: var(--sideabar-width);
        border: none;
        padding: 3rem 1rem 0 1rem;

        @media (max-width: theme.$app-breakpoint-small) {
            width: fit-content;
        }

        & app-sidebar {
            margin-top: 3rem;
        }
    }

    & mat-sidenav-content {
        & app-rec-list {
            display: block;
            margin-top: 3rem;
            margin-inline: 1rem;
        }
    }
}

.centered {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem !important;
}
