<div class="sidebar-container">
    <div class="title-container">
        <h1 class="title">Johnny's Recs</h1>
        <h2 class="subtitle">Welcome!</h2>
    </div>

    <button class="info-btn" mat-button color="primary" (click)="openInfoDialog()">How to use this list</button>

    <div class="form-container">
        @if (recsService.screenSize() === CUSTOM_BREAKPOINTS.LARGE) {
            <mat-form-field [ngClass]="{ 'no-selection' : filterStore.region() === -1 }" class="form-container-region-selector" appearance="outline">
                <mat-label>Region</mat-label>
                <mat-select [value]="filterStore.region()" (selectionChange)="recsService.onRegionSelectionChange($event)">
                    @for (region of listStore.regions(); track region.id) {
                        <mat-option [value]="region.id">{{region.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        }

        @if (filterStore.region() !== -1) {
            <div [@slideIn]>
                @if (recsService.screenSize() === CUSTOM_BREAKPOINTS.LARGE) {
                    <mat-divider class="divider"></mat-divider>
                }

                <mat-form-field appearance="outline">
                    <mat-label>Subregion</mat-label>
                    <mat-select [value]="filterStore.subregion()" (selectionChange)="filterStore.updateState({subregion: $event.value})">
                        <mat-option [value]="-1">Any</mat-option>
                        @for (subregion of listStore.subregions(); track subregion) {
                            @if (subregion) {
                                <mat-option [value]="subregion.id">{{subregion.name}}</mat-option>
                            }
                        }
                    </mat-select>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                    <mat-label># Stars</mat-label>
                    <mat-select [value]="filterStore.numStars()" (selectionChange)="filterStore.updateState({numStars: $event.value})">
                        <mat-select-trigger>
                            @if (filterStore.numStars() === -1) {
                                Any
                            } @else {
                                @for (star of [].constructor(filterStore.numStars()); track $index) {
                                    <mat-icon>star</mat-icon>
                                } +
                            }
                        </mat-select-trigger>
                        <mat-option [value]="-1">Any</mat-option>
                        <mat-option [value]="1"><mat-icon>star</mat-icon>+</mat-option>
                        <mat-option [value]="2"><mat-icon>star</mat-icon><mat-icon>star</mat-icon>+</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox class="checkbox" [checked]="filterStore.hasSuperlative()" (change)="filterStore.updateState({hasSuperlative: $event.checked})" [@slideIn] color="primary">Has superlative</mat-checkbox>

                <button mat-stroked-button color="primary" (click)="filterStore.resetSubFilters()" [disabled]="filterStore.areSubfiltersDirty()">Clear</button>
            </div>
        }

        <div class="contact-me">
            <p>Notice an issue?</p>
            <p>Have ideas to improve this site?</p>
            <a href="mailto:dev@johnnysrecs.com" class="contact-me-link">Email me at dev&#64;johnnysrecs.com</a>
        </div>
    </div>
</div>
