.sidebar-container {
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    & .subtitle {
        font-weight: normal;
        font-style: italic;
        margin-top: 0.3rem;
    }

    & .info-btn {
        font-size: 1em;
    }
}
