.sidebar-container {
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding-right: 3px;

    & .form-container {
        width: min-content;
        margin-bottom: 1rem;
    }

    & .title {
        font-weight: normal;
    }

    & .subtitle {
        font-weight: normal;
        font-style: italic;
        margin-top: 0.3rem;
    }

    & .info-btn {
        font-size: 1em;
    }

    & .divider {
        margin-bottom: 20px;
    }

    & mat-slide-toggle {
        display: block;
        margin-bottom: 1rem;
    }

    & .contact-me {
        margin-top: 2rem;
        font-size: 0.8em;

        & > * {
            color: #818181;
            margin-bottom: 0.5rem;
        }

        &-link {
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: #e040fb;
            }
        }
    }
}

mat-select-trigger {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

mat-option mat-icon {
    margin-right: 0.2rem;
}
