<div class="sidebar-container">
    <div class="title-container">
        <h1 class="title">Johnny's Recs</h1>
        <h2 class="subtitle">Welcome!</h2>
    </div>

    <button class="info-btn" mat-button color="primary" (click)="openInfoDialog()">How to use this list</button>

    <div class="form-container">
        <mat-form-field appearance="outline">
            <mat-label>Region</mat-label>
            <mat-select [value]="filterStore.region()" (selectionChange)="onRegionSelectionChange($event)">
                @for (region of listStore.regions(); track region.id) {
                    <mat-option [value]="region.id">{{region.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        @if (filterStore.region() !== -1) {
            <div [@slideIn]>
                <mat-form-field appearance="outline">
                    <mat-label>Subregion</mat-label>
                    <mat-select [value]="filterStore.subregion()" (selectionChange)="filterStore.updateState({subregion: $event.value})">
                        <mat-option [value]="-1">Any</mat-option>
                        @for (subregion of listStore.subregions(); track subregion) {
                            @if (subregion) {
                                <mat-option [value]="subregion.id">{{subregion.name}}</mat-option>
                            }
                        }
                    </mat-select>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                    <mat-label># Stars</mat-label>
                    <mat-select [value]="filterStore.numStars()" (selectionChange)="filterStore.updateState({numStars: $event.value})">
                        <mat-option [value]="-1">Any</mat-option>
                        <mat-option [value]="0">0</mat-option>
                        <mat-option [value]="1">1</mat-option>
                        <mat-option [value]="2">2</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox [value]="filterStore.hasSuperlative().toString()" (change)="filterStore.updateState({hasSuperlative: $event.checked})" [@slideIn] color="primary">Has superlative</mat-checkbox>
            </div>
        }
    </div>
</div>
