.sidebar-container {
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    & .form-container {
        width: min-content;
    }

    & .title {
        font-weight: normal;
    }

    & .subtitle {
        font-weight: normal;
        font-style: italic;
        margin-top: 0.3rem;
    }

    & .info-btn {
        font-size: 1em;
    }

    & .divider {
        margin-bottom: 20px;
    }

    & mat-checkbox {
        display: block;
        margin-bottom: 1rem;
    }
}

mat-select-trigger {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

mat-option mat-icon {
    margin-right: 0.2rem;
}
