<h2 class="subregion">{{subregionName()}}</h2>

<mat-accordion class="list-container">
    @for (place of places(); track place) {
        <mat-expansion-panel class="place">
            <mat-expansion-panel-header>
                <div class="place-header">
                    <div class="place-header-titles">
                        <h3>{{ place.title }}</h3>
                        <h4>{{ place.subtitle }}</h4>
                    </div>
                    <div class="place-header-awards">
                        @if (place.superlative) {
                            <div class="place-header-awards-superlative">
                                <mat-icon>emoji_events</mat-icon>
                                <p>Best {{ place.superlative }}</p>
                            </div>
                        }
                        <div class="place-header-awards-stars">
                            @for (star of [].constructor(place.num_stars); track $index) {
                                <mat-icon>star</mat-icon>
                            }
                        </div>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <div class="place-body">
                <div class="place-body-desc">{{ place.description }}</div>
                <div class="place-body-info">
                    <p class="place-body-info-open open">Open now</p>
                    <p><span class="place-body-info-label">Address:</span> 123 Main St.</p>
                    <p><span class="place-body-info-label">Phone:</span> 123-456-7890</p>
                </div>
            </div>
        </mat-expansion-panel>
    }
</mat-accordion>
