<div class="dialog-container">
    <div class="title-container">
        <h2 color="primary">How to use</h2>
        <button mat-icon-button (click)="onCloseClick()">
            <mat-icon fontIcon="close"></mat-icon>
        </button>
    </div>

    <div class="info-container">
        
        <div class="info-section">
            <h3>Filtering</h3>
            <p>Use the filters on the left side to search for recommendations in your area.</p>
            <p class="italic">You must select a region to begin!</p>
        </div>

        <div class="info-section">
            <h3>Stars</h3>
            <p>
                Stars are a custom rating system. Entries can have 0, 1, or 2 stars, and the meaning
                of a star value is explained below. Despite the number of stars a place may have, please note
                that every place that exists in this recommendations list is worth your time!
            </p>
            <div class="star-info">
                <p>0 - This place is great and excels in a few aspects.</p>
                <p>1 - This place is excellent and excels in most aspects!</p>
                <p>2 - This place is a MUST-SEE and excels in nearly every aspect!</p>
            </div>
        </div>

        <div class="info-section">
            <h3>Superlatives</h3>
            <p>
                Superlatives denote that a place is the absolute best at something in a given region. 
                Only one place in a region may have a certain superlative. Places with a superlative will have a special label.
            </p>
        </div>
        
    </div>
</div>
