.dialog-container {
    width: 40vw;
    padding: 1rem;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 1.2rem;

    & .info-section {
        & * {
            margin-inline: 0.5rem;
        }

        & h3 {
            font-weight:400;
            margin-bottom: 0.2rem;
        }

        & p {
            color: rgb(219, 219, 219);
        }

        & .star-info {
            margin: 1rem 0 0 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}

.italic {
    font-style: italic;
}
