@use '@angular/material' as mat;
@use './app-theme.scss' as custom-theme;
@include mat.all-component-themes(custom-theme.$app-theme);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #202124;
    color: white;
}

// fix for expansion panels not animating correctly
// see: https://github.com/angular/components/issues/11765
.mat-expansion-panel .mat-expansion-panel-content {
    &.ng-animating {
        height: 0;
    }
}

.form-container-region-selector.no-selection .mdc-notched-outline__leading,
.form-container-region-selector.no-selection .mdc-notched-outline__notch,
.form-container-region-selector.no-selection .mdc-notched-outline__trailing {
    animation: pulse 600ms ease-in-out infinite alternate;
}

@keyframes pulse {
    0% {
        border-color: hsl(216, 4%, 27%);
    }
    100% {
        border-color: #e040fb;
    }
}

@include mat.core();
