@use '@angular/material' as mat;
@use './app-theme.scss' as custom-theme;
@include mat.all-component-themes(custom-theme.$app-theme);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #202124;
    color: white;
}

// fix for expansion panels not animating correctly
// see: https://github.com/angular/components/issues/11765
.mat-expansion-panel .mat-expansion-panel-content {
    &.ng-animating {
        height: 0;
    }
}
